@media screen and (min-width: 850px) and (max-width: 1024px) {
  .month-in-year-wrapper {
    width: calc(100% / 3);
  }
}
@media screen and (min-width: 550px) and (max-width: 849px) {
  .month-in-year-wrapper {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 549px) {
  .month-in-year-wrapper {
    width: 100%;
    flex-wrap: wrap;
  }
}
